<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <P>This site was created by Anesh Kaul. It uses data from mapbox.com and darksky,net</P>
            <img class="portrait" src="/img/image.png">
        </div>
        {{>footer}}
    </body>
</html>